.ant-menu-inline {
  border: none;
}

.ant-menu-inline .ant-menu-item::after {
  border: none;
}

.ant-menu-sub.ant-menu-inline {
  background: #fff;
}

/* .ant-upload.ant-upload-select-picture-card {
  width: 100%;
  height: 120px;
} */